h1 {
  font-size:60px;
  color:#8533FF;
  font-family: 'Indie Flower', cursive;
  margin-bottom:120%;
}
#me {background:url("http://www.davelangley.org/uploads/images/about_me_title01.jpg") no-repeat; background-size: 100% auto;}
